/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar nav {
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* main conent  */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.quizcontainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#recommendationContainer {
    margin-top: 40px;
}

.anime-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.anime-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.anime-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.anime-item p {
    font-size: 16px;
    color: #666;
}

.anime-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.anime-item a:hover {
    background-color: #007bff;
    color: #fff;
}
