/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar nav {
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
