/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif; 
}

/* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure navbar is above other content */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ddd;
}

/* Anime Slider */
.anime-slider {
    margin-top: 60px; /* Adjust according to navbar height */
    height: 450px; /* cover art size */
    width: 100%;
    overflow: hidden; /* Hide overflow content */
    position: relative;
}

.slide {
    width: 300px; /* Set width for each slide */
    height: 450px; /* Set height for each slide */
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Slideshow Controls */
.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
}

.controls button:hover {
    background-color: rgba(0, 0, 0, 1);
}
