/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure navbar is above other content */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    padding: 0 20px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ddd;
}

/* Arrow buttons */
.nav-arrow {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
}

.nav-arrow:hover {
    color: #ddd;
}

/* Anime Slider */
.anime-slider {
    margin-top: 60px;
    text-align: center;
    overflow: hidden; /* Hide overflow content */
    height: calc(100vh - 60px); 
    box-sizing: border-box; /* Include padding and border in height calculation */
}

.anime-slider .slide {
    width: 100%; 
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Controls container */
.controls {
    display: flex;
    justify-content: center;
}

/* Control buttons */
.controls button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #bbb;
}

/* Adjust body padding to accommodate fixed navbar */
body {
    padding-top: 60px; /* Adjust this value based on navbar height */
}
