/* Navigation Bar */
.navbar {
    background-color: #ffe1b3; 
    padding: 10px;
    text-align: center;
    width: 100%; 
}

.navbar a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* main content area  */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1f1f1f; /* Darker header background */
    color: #ff6b6b; /* Contrasting text color */
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1200px;
}

.gallery img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Adjust shadow for dark background */
}

button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff4757;
}
